/* FONTS */
$font-extraLight: 'Cairo-ExtraLight';
$font-light: 'Cairo-Light';
$font-regular: 'Cairo-Regular';
$font-semiBold: 'Cairo-SemiBold';
$font-bold: 'Cairo-Bold';
$font-black: 'Cairo-Black';
$font-icon: 'Icons';

/* THEME COLORS */
$primary-color: #2d3f57;
$secondary-color: #2b3645;
$divider-color: #364a66;
$helper-color: #00cdff;
$icons-color: #ffffff;
$notification-color: #ee2323;

/* TRANSITION MIXIN */
@mixin transition($seconds){
    -webkit-transition: $seconds linear;
    -moz-transition: $seconds linear;
    -ms-transition: $seconds linear;
    -o-transition: $seconds linear;
    transition: $seconds linear;
}

/* WIDTH HEIGHT DISPLAY MIXIN */
@mixin whd($width: 100%, $height: auto, $display: block){
    width: $width;
    height: $height;
    display: $display;
}

/* BORDER RADIUS MIXIN */
@mixin border-radius($border-radius){
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    -ms-border-radius: $border-radius;
    -o-border-radius: $border-radius;
    border-radius: $border-radius;
}

/* BOX SHADOW MIXIN */
@mixin box-shadow{
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
    -ms-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
    -o-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
}

/* TRANSFORM TRANSLATE Y AXIS MIXIN */
@mixin translateY($value){
    -webkit-transform: translateY($value);
    -moz-transform: translateY($value);
    -ms-transform: translateY($value);
    -o-transform: translateY($value);
    transform: translateY($value);
}

/* TRANSFORM TRANSLATE X AXIS MIXIN */
@mixin translateX($value){
    -webkit-transform: translateX($value);
    -moz-transform: translateX($value);
    -ms-transform: translateX($value);
    -o-transform: translateX($value);
    transform: translateX($value);
}

/* TRANSFORM ROTATE MIXIN */
@mixin rotate($value){
    -webkit-transform: rotate($value);
    -moz-transform: rotate($value);
    -ms-transform: rotate($value);
    -o-transform: rotate($value);
    transform: rotate($value);
}

/* COLUMNS MIXIN */
@mixin col{
    padding: 20px 30px;
    margin: 20px 0px;
    float: left;
}

/* HEADINGS MIXIN */
@mixin heading{
    @include whd;
    font-family: $font-bold;
}

/* SUB HEADINGS MIXIN */
@mixin sub-heading{
    @include whd;
    font-family: $font-semiBold;
    margin-top: 10px;
}

/* CODE BLOCKS MIXIN */
@mixin code-block{
    @include whd($height: 300px);
    background: #333333;
    clear: both;
    font-size: 1.4em;
    overflow: scroll;

    code{
        @include whd(auto, auto, inline-block);
        padding-right: 30px;
        line-height: 25px;
    }
}
