@import 'base';

/* ----------------------------------------------------------------------------------
   ----------------------------------- LOGIN PAGE -----------------------------------
   ---------------------------------------------------------------------------------- */
@media only screen and (max-width: 450px){
    .admin-login{
        .admin-login-form-container{
            padding: 40px 20px;

            .login-misc{
                .form-field{
                    .checkbox-input input[type="checkbox"]{
                        margin-right: 0px;
                    }
                    .checkbox-input span{
                        width: calc(100% - 50px);
                        font-size: 0.9em;
                        margin-left: -20px;
                    }
                }

                a{
                    font-size: 1.3em;
                }
            }
        }
    }
}

/* ----------------------------------------------------------------------------------
   ------------------------------- EDIT PROFILE PAGE --------------------------------
   ---------------------------------------------------------------------------------- */
@media only screen and (max-width: 1200px){
    .edit-profile-form-container{
        padding: 20px 0px;
    }
    .edit-profile-avatar{
        display: block;
        clear: both;
        margin: 0px auto 40px auto;
    }
    .edit-profile-details{
        @include whd;
        float: none;
    }
}

/* ----------------------------------------------------------------------------------
   ------------------------------------- NAVBAR -------------------------------------
   ---------------------------------------------------------------------------------- */
@media only screen and (max-width: 1150px){
    .navbar-logo{
        width: 150px;
    }
    .close-navbar-logo{
        @include translateX(0px);
        width: 150px;
    }
}

@media only screen and (max-width: 980px){
    .navbar-search-form{
        display: none;
    }

}

@media only screen and (max-width: 700px){
    .navbar .navbar-left{
        width: 100%;
        float: left;
        clear: both;
        border-bottom: 1.5px solid rgba(255,255,255,0.1);
    }
    .navbar .navbar-right{
        width: 100%;
        float: left;
        clear: both;
    }
    .navbar-logo{
        width: calc(100% - 70px);
        float: left;
    }
    .navbar-hamburger-menu{
        float: left;
        border-right: 0px;
    }
    .navbar-mail-notifications .email-notifications-popup-box,
    .navbar-notifications .notifications-popup-box,
    .navbar-user-avatar .avatar-popup-box{
        left: 0px;
        right: auto;
    }
}

@media only screen and (max-width: 490px){
    .navbar-user-avatar .navbar-avatar-name{
        display: none;
    }
}

@media only screen and (max-width: 430px){
    .navbar-notifications .notifications-popup-box{
        left: -63px;
    }
    .navbar-user-avatar .avatar-popup-box{
        left: -126px;
    }
}

/* ----------------------------------------------------------------------------------
   -------------------------------- MODULES SIDEBAR ---------------------------------
   ---------------------------------------------------------------------------------- */
@media only screen and (max-width: 1150px){
    .modules-sidebar{
        @include translateX(-320px);
        @include transition(0.5s);
    }
    .close-siderbar-modules{
        width: 270px;
        @include translateX(0px);
    }
    .close-siderbar-modules .module-box a p{
        -webkit-animation: showModuleLinks 0.5s forwards;
        -moz-animation: showModuleLinks 0.5s forwards;
        -ms-animation: showModuleLinks 0.5s forwards;
        -o-animation: showModuleLinks 0.5s forwards;
        animation: showModuleLinks 0.5s forwards;
    }
    .module-box-dropdown .module-box-head::after{
        display: block !important;
    }
    .close-siderbar-modules .module-box a{
        padding: 10px 20px 10px 20px;
    }
    .close-siderbar-modules .module-box-dropdown ul{
        display: block;
    }
    .navbar-mail-notifications .email-notifications-popup-box .email-notifications-popup-box-container{
        max-height: 293px;
    }
    .navbar-notifications .notifications-popup-box .notifications-popup-box-container{
        max-height: 247.5px;
    }
}

@media only screen and (max-width: 980px){
    .modules-sidebar{
        top: 62px;
    }
}

@media only screen and (max-width: 700px){
    .modules-sidebar{
        top: 124px;
    }
    .close-siderbar-modules{
        height: calc(100% - 124px);

        &:hover{
            height: calc(100% - 124px);
        }
    }
}

/* ----------------------------------------------------------------------------------
   ---------------------------- QUICK SETTINGS SIDEBAR ------------------------------
   ---------------------------------------------------------------------------------- */
   @media only screen and (max-width: 980px){
       .quick-settings-sidebar{
           top: 62px;
       }
   }
   @media only screen and (max-width: 700px){
       .quick-settings-sidebar{
           height: calc(100% - 124px);
           top: 124px;
       }
   }

/* ----------------------------------------------------------------------------------
   ------------------------------- CONTENT CONTAINER --------------------------------
   ---------------------------------------------------------------------------------- */
@media only screen and (max-width: 1150px){
    .content-container{
        width: 100%;
        margin-left: 0px;
        padding: 60px 0px 30px 0px;
    }
    .content-container-condition-1, .content-container-condition-3{
        &::after{
            display: block;
        }
    }
}

@media only screen and (max-width: 980px){
    .content-container{
        padding: 60px 0px 30px 0px;
    }
}

@media only screen and (max-width: 700px){
    .content-container{
        padding: 120px 0px 30px 0px;
    }
}

/* ----------------------------------------------------------------------------------
   ---------------------------------- GRID SYSTEM -----------------------------------
   ---------------------------------------------------------------------------------- */
@media only screen and (max-width: 1300px){
    .cw-col-4,
    .cw-col-6{
        @include whd($width: 100%);
    }
    .cw-col-4,
    .cw-col-6,
    .cw-col-12{
        padding: 20px 5px;
    }
}

/* ----------------------------------------------------------------------------------
   ---------------------------------- INPUT FIELDS ----------------------------------
   ---------------------------------------------------------------------------------- */
   @media only screen and (max-width: 1300px){
       .style-inline-block{
           label{
               @include whd;
               float: none;
               line-height: 40px;
           }

           input[type="text"]{
               @include whd;
               float: none;
           }

           textarea{
               @include whd($height: 150px);
           }

           select{
               @include whd;
           }
       }

       .style-inline-block.icon{
           &::before{
               background: $primary-color;
               position: absolute;
               top: 40px;
               left: 0px;
               font-size: 2em;
               padding: 15px 10px 10px 10px;
           }
       }

       .style-inline-block.group-icon-dollar::after,
       .style-inline-block.group-icon-percentage::after{
           top: 40px;
       }

       .style-inline-block .timepicker_wrap{
           left: 0px !important;
       }
   }

/* ----------------------------------------------------------------------------------
   ----------------------------------- HTML TABLES ----------------------------------
   ---------------------------------------------------------------------------------- */
@media only screen and (max-width: 1300px){
    .fixed-control-buttons{
        right: 50px;
    }

    .cw-search.search-popup-box .advanced-search-popup .advanced-search-form .style-inline-block input[type="text"],
    .cw-search.search-popup-box .advanced-search-popup .advanced-search-form .style-inline-block input[type="password"],
    .cw-search.search-popup-box .advanced-search-popup .advanced-search-form .style-inline-block select{
        width: 100%;
    }

    .cw-search.search-popup-box .advanced-search-popup .advanced-search-form{
        padding: 10px 20px;
    }
}

@media only screen and (max-width: 1150px){
    .fixed-control-buttons{
        right: 20px;
    }
}

/* ----------------------------------------------------------------------------------
   ----------------------------------- HTML TABLES ----------------------------------
   ---------------------------------------------------------------------------------- */
@media only screen and (max-width: 870px){
    .html-table-title{

        span:nth-child(1){
            @include whd;
        }

        .control-buttons{
            @include whd;
            float: left;
        }

        p{
            @include whd($display: inline-block);
            margin-top: 20px;
        }

    }
}

/* ----------------------------------------------------------------------------------
   --------------------------------------- RTL --------------------------------------
   ---------------------------------------------------------------------------------- */

   /* -------------------------------------------
      ----------------- NAVBAR ------------------
      ------------------------------------------- */
   @media only screen and (max-width: 1150px){
       .rtl{
           .modules-sidebar{
               @include translateX(320px);
           }
           .close-navbar-logo{
               @include translateX(0px);
           }
       }
   }

   @media only screen and (max-width: 700px){
       .rtl{
           .navbar-mail-notifications .email-notifications-popup-box,
           .navbar-notifications .notifications-popup-box,
           .navbar-user-avatar .avatar-popup-box{
               left: auto;
               right: 0px;
           }
           .navbar-hamburger-menu{
               border-left: 0px;
               border-right: 1.5px solid rgba(255,255,255,0.1);
           }
       }
   }

   @media only screen and (max-width: 430px){
       .rtl{
           .navbar-notifications .notifications-popup-box{
               right: -63px;
           }
           .navbar-user-avatar .avatar-popup-box{
               right: -128px;
           }
       }
   }

   /* -------------------------------------------
      ------------ MODULES SIDEBAR --------------
      ------------------------------------------- */
   @media only screen and (max-width: 1150px){
       .rtl{
           .close-siderbar-modules{
               @include translateX(0px);
           }
       }
   }

   /* -------------------------------------------
      ----------- CONTENT CONTAINER -------------
      ------------------------------------------- */
   @media only screen and (max-width: 1150px){
       .rtl{
           .content-container{
               margin-right: 0px;
           }
       }
   }

   /* -------------------------------------------
      -------------- FORM INPUTS ----------------
      ------------------------------------------- */
   @media only screen and (max-width: 1300px){
       .rtl{
           .style-inline-block.icon::before{
               right: 0px;
           }
       }
   }

   @media only screen and (max-width: 550px){
       .file-upload-input .image-preview img{
           float: none;
       }

       .file-upload-input .image-preview .img-rules{
           width: 100%;
           float: none;
           margin-right: 0px;
           margin-left: 0px;
           margin-top: 30px;
       }
   }

   /* -------------------------------------------
      -------------- LOGIN PAGE -----------------
      ------------------------------------------- */
   @media only screen and (max-width: 450px){
       .rtl .admin-login .admin-login-form-container .login-misc .form-field .checkbox-input span{
           margin-right: -20px;
           margin-left: 0px;
       }
   }

   /* -------------------------------------------
      ----------- EDIT PROFILE PAGE -------------
      ------------------------------------------- */
   @media only screen and (max-width: 1200px){
       .rtl .edit-profile-avatar{
           float: none;
       }
   }

   /* -------------------------------------------
      ------------ CONTROL BUTTONS --------------
      ------------------------------------------- */
   @media only screen and (max-width: 1300px){
       .rtl .control-buttons.style-icons.fixed-control-buttons{
           left: 50px;
       }
   }

   @media only screen and (max-width: 1150px){
       .rtl .control-buttons.style-icons.fixed-control-buttons{
           left: 20px;
       }
   }
