@import 'base';

/* ----------------------------------------------------------------------------------
   ----------------------------------- LOGIN PAGE -----------------------------------
   ---------------------------------------------------------------------------------- */
@media only screen and (max-width: 450px){
    .admin-login{
        .admin_login_form_container{
            .login-misc{
                .form-field{
                    .checkbox-input input[type="checkbox"]{
                        margin-right: 0px;
                    }
                    .checkbox-input span{
                        width: calc(100% - 50px);
                        font-size: 0.9em;
                        margin-left: -20px;
                    }
                }

                a{
                    font-size: 1.3em;
                }
            }
        }
    }
}

/* ----------------------------------------------------------------------------------
   ---------------------------------- GRID SYSTEM -----------------------------------
   ---------------------------------------------------------------------------------- */
@media only screen and (max-width: 1300px){
    .cw-col-4,
    .cw-col-6{
        @include whd($width: 100%);
    }
}

/* ----------------------------------------------------------------------------------
   ---------------------------------- INPUT FIELDS ----------------------------------
   ---------------------------------------------------------------------------------- */
   @media only screen and (max-width: 1300px){
       .style-inline-block{
           label{
               @include whd;
               float: none;
               line-height: 40px;
           }

           input[type="text"]{
               @include whd;
               float: none;
           }

           textarea{
               @include whd($height: 150px);
           }

           select{
               @include whd;
           }
       }

       .style-inline-block.icon{
           &::before{
               background: $primary-color;
               position: absolute;
               top: 40px;
               left: 0px;
               font-size: 2em;
               padding: 15px 10px 10px 10px;
           }
       }

       .style-inline-block.group-icon-dollar::after,
       .style-inline-block.group-icon-percentage::after{
           top: 40px;
       }

       .style-inline-block .timepicker_wrap{
           left: 0px !important;
       }
   }
