@import 'base';

/* ----------------------------------------------------------------------------------
   ---------------------------------- GRID SYSTEM -----------------------------------
   ---------------------------------------------------------------------------------- */
@media only screen and (max-width: 1300px){
    .cw-col-4,
    .cw-col-6{
        @include whd($width: 100%);
    }
}

/* ----------------------------------------------------------------------------------
   ---------------------------------- INPUT FIELDS ----------------------------------
   ---------------------------------------------------------------------------------- */
   @media only screen and (max-width: 1300px){
       .style-inline-block{
           label{
               @include whd;
               float: none;
               line-height: 40px;
           }

           input[type="text"]{
               @include whd;
               float: none;
           }

           textarea{
               width: 100%;
           }
       }

       .style-inline-block.icon{
           &::before{
               background: $primary-color;
               position: absolute;
               top: 40px;
               left: 0px;
               font-size: 2em;
               padding: 10px;
           }
       }
   }
