@import 'base';

/* ----------------------------------------------------------------------------------
   ----------------------------------- LOGIN PAGE -----------------------------------
   ---------------------------------------------------------------------------------- */
.admin-login{
    width: 100%;
    height: 100vh;
    display: block;
    padding: 0px 25px;
    background: $primary-color;
}

.admin_login_form_container{
    @include whd;
    max-width: 450px;
    background: #ffffff;
    padding: 40px 30px;
    margin: auto;
    @include box-shadow;
}

.admin-login-img{
    @include whd($width: 200px, $height: 60px);
    margin: 0px auto 40px auto;
}

.admin-login-img img{
    @include whd($width: 200px, $height: 60px);
}

/* ----------------------------------------------------------------------------------
   ------------------------------------- NAVBAR -------------------------------------
   ---------------------------------------------------------------------------------- */
.navbar{
    @include whd($display: inline-block);
    background: $primary-color;
    @include transition(0.3s);
    line-height: 60px;
    @include box-shadow;
    position: fixed;
    z-index: 99;

    .navbar-left{
        @include whd(auto);
        float: left;
    }

    .navbar-right{
        @include whd(auto);
        float: right;
    }
}

.navbar-logo{
    @include whd(270px, $display: inline-block);
    float: left;
    @include transition(0.5s);
    padding: 10px 0px;

    img{
        @include whd(auto, 42px, block);
        margin: auto;
    }
}

.close-navbar-logo{
    @include translateX(-320px);
    width: 0px;
}

.navbar-hamburger-menu, .navbar-settings-btn, .navbar-help-btn{
    @include whd(auto, auto, inline-block);
    float: left;
    padding: 0px 22px;
    border-right: 1.5px solid rgba(255,255,255,0.1);
    border-left: 1.5px solid rgba(255,255,255,0.1);
    cursor: pointer;

    span::before{
        position: relative;
        top: 9px;
    }
}

 .navbar-search-form{
     @include whd($width: 255px, $height: 60px, $display: inline-block);
     float: left;
     padding-left: 25px;
     @include transition(0.5s);

     form{
         input{
             @include whd($width: 200px, $display: inline-block);
             border: 0px;
             border-bottom: 1px solid $icons-color;
             background: transparent;
             outline: none;
             color: $icons-color;
             font-family: $font-light;
             font-size: 1.4em;
             @include placeholder($icons-color);
             border-right: 0px;
             padding-right: 5px;
         }
     }

     .search-submit-btn{
         position:relative;
         left: -3px;

         &::before{
             @include whd($width: 22px, $height: 22px, $display: inline-block);
             font-size: 1.8em;
             position: relative;
             top: 4px;
             z-index: 5;
             color: $icons-color;
             border: 0px;
             border-bottom: 1px solid $icons-color;
         }

         input{
             @include whd($display: inline-block);
             position: absolute;
             top: -10px;
             left: 0;
             opacity: 0;
             z-index: 6;
             cursor: pointer;
         }
     }
 }

.navbar-help-btn{
    border-left: 0px;
}

.navbar-mail-notifications, .navbar-notifications, .navbar-user-avatar{
    @include whd(auto, auto, inline-block);
    float: left;
    padding: 0px 20px;
    cursor: pointer;
}

.navbar-mail-notifications, .navbar-notifications{
    position: relative;
    z-index: 99;

    span:before, span:before{
        position: relative;
        top: 10px;
    }
}

.navbar-user-avatar{
    position: relative;
    z-index: 99;

    &:hover{

        .avatar-popup-box{
            max-height: 2000px;
            @include whd(300px, auto, block);
            @include transition(1s);
        }

    }

    .navbar-avatar-icon{

        &::before{
            position: relative;
            top: 13px;
        }

    }

    .navbar-avatar-image{
        @include whd(35px, 35px, none);
        position: relative;
        top: 15px;
        @include border-radius(50%);
    }

    .navbar-avatar-name{
        font-family: $font-light;
        font-size: 1.5em;
        color: $icons-color;
        padding-left: 15px;
        display: none;
    }

    .avatar-popup-box{
        @include whd(300px, auto, block);
        max-height: 0px;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 62px;
        background: $divider-color;
        line-height: normal;
        @include box-shadow;
        cursor: default;

        &::before{
            content: '';
            @include whd($height: 2px);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            background: $helper-color;
        }

        .avatar-popup-box-user-details{
            @include whd(250px, auto, block);
            margin: 20px auto;

            span:nth-child(1){
                @include whd(100%, auto, block);
                text-align: center;
                line-height: 60px;
            }

            img:nth-child(2){
                @include whd(70px, 70px, none);
                margin: 0px auto 5px auto;
            }

            span:nth-child(3){
                @include whd;
                text-align: center;
                font-family: $font-regular;
                font-size: 1.6em;
                color: $icons-color;
            }

            span:nth-child(4){
                @include whd;
                font-family: $font-light;
                text-align: center;
                font-size: 1.2em;
                color: $icons-color;
            }

        }

        .avatar-popup-box-links{
            @include whd;

            a{
                @include whd;
                padding: 10px 30px;
                border-top: 1.5px solid rgba(255,255,255,0.1);
                @include transition(0.3s);

                span:nth-child(1){
                    position: relative;
                    top: 5px;
                }

                span:nth-child(2){
                    font-family: $font-light;
                    font-size: 1.4em;
                    color: $icons-color;
                    margin-left: 15px;
                    position: relative;
                    top: -2px;
                }

                &:hover{
                    background: $helper-color;
                }

            }

        }

    }

}

.registered-user{

    .navbar-avatar-icon{

        &::before{
            display: none;
        }

    }

    .navbar-avatar-image{
        @include whd(35px, 35px, inline-block);
    }

    .avatar-popup-box-user-details{

        span:nth-child(1){
            display: none !important;
        }

        img:nth-child(2){
            display: block !important;
        }

    }

}

.navbar-notifications,.navbar-mail-notifications{

    .new-notifications{

        &::after{
            top: 15px;
            right: 15px;
            z-index: 5;
        }

    }

}

.navbar-mail-notifications{

    &:hover{

        .email-notifications-popup-box{
            max-height: 2000px;
            @include whd(300px, auto, block);
            @include transition(1s);
        }

    }

    .email-notifications-popup-box{
        @include whd(300px, auto, block);
        max-height: 0px;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 62px;
        background: $divider-color;
        line-height: normal;
        @include box-shadow;

        &::before{
            content: '';
            @include whd($height: 2px);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            background: $helper-color;
        }

        .email-notifications-popup-box-heading{
            font-family: $font-semiBold;
            @include whd;
            padding: 10px 20px 10px 20px;
            font-size: 1.4em;
            color: $helper-color;
            text-align: left;
        }

        .email-notifications-popup-box-container{
            @include whd;
            max-height: 390px;
            position: relative;
            overflow: auto;

            .email-notification-popup-box{
                @include whd;
                clear: both;
                overflow: hidden;
                padding: 10px 20px 12px 20px;
                border-bottom: 1.5px solid rgba(255,255,255,0.1);
                @include transition(0.3s);

                &:last-child{
                    border-bottom: 0px;
                }

                &:hover{
                    background: rgba(0,0,0,0.1);
                }

                .email-notification-popup-box-avatar{
                    @include whd(40px, 40px, inline-block);
                    float: left;

                    img{
                        @include whd(100%, 100%, inline-block);
                    }
                }

                .email-notification-popup-box-message{
                    width: calc(100% - 60px);
                    float: right;

                    div{
                        @include whd;
                        clear: both;
                        overflow: hidden;
                    }

                    div span:nth-child(1){
                        font-family: $font-semiBold;
                        font-size: 1.5em;
                        color: $icons-color;
                        float: left;
                    }

                    div span:nth-child(2){
                        font-family: $font-extraLight;
                        font-size: 1.2em;
                        color: $icons-color;
                        float: right;
                    }

                    p:nth-child(2){
                        font-family: $font-light;
                        font-size: 1.3em;
                        color: $icons-color;
                        line-height: 15px;
                    }

                }

            }

        }

        .email-notification-popup-box-show-all{
            @include whd;
            font-family: $font-extraLight;
            font-size: 1.4em;
            color: $icons-color;
            background: $secondary-color;
            text-align: center;
            padding: 10px 10px;
            @include transition(0.3s);

            &:hover{
                letter-spacing: 0.5px;
            }
        }
    }
}

.navbar-notifications{
    &:hover{

        .notifications-popup-box{
            max-height: 2000px;
            @include whd(300px, auto, block);
            @include transition(1s);
        }

    }

    .notifications-popup-box{
        @include whd(300px, auto, block);
        max-height: 0px;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 62px;
        background: $divider-color;
        line-height: normal;
        @include box-shadow;

        &::before{
            content: '';
            @include whd($height: 2px);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            background: $helper-color;
        }

        .notifications-popup-box-heading{
            font-family: $font-semiBold;
            @include whd;
            padding: 10px 20px 10px 20px;
            font-size: 1.4em;
            color: $helper-color;
            text-align: left;
        }

        .notifications-popup-box-container{
            @include whd;
            max-height: 370.5px;
            position: relative;
            overflow: auto;

            .notification-popup-box{
                @include whd;
                clear: both;
                overflow: hidden;
                padding: 10px 20px 12px 20px;
                border-bottom: 1.5px solid rgba(255,255,255,0.1);
                @include transition(0.3s);

                &:last-child{
                    border-bottom: 0px;
                }

                &:hover{
                    background: rgba(0,0,0,0.1);
                }

                .notification-popup-box-avatar{
                    @include whd(40px, 40px, inline-block);
                    float: left;

                    img{
                        @include whd(100%, 100%, inline-block);
                    }

                }

                .notification-popup-box-message{
                    width: calc(100% - 60px);
                    float: right;

                    div{
                        @include whd;
                        clear: both;
                        overflow: hidden;
                    }

                    div span:nth-child(1){
                        font-family: $font-semiBold;
                        font-size: 1.5em;
                        color: $icons-color;
                        float: left;
                    }

                    div span:nth-child(2){
                        font-family: $font-extraLight;
                        font-size: 1.2em;
                        color: $icons-color;
                        float: right;
                    }

                    div span:nth-child(3){
                        @include whd;
                        font-size: 1.4em;
                        color: $icons-color;
                        clear: both;
                    }

                    p:nth-child(2){
                        font-family: $font-light;
                        font-size: 1.3em;
                        color: $icons-color;
                        line-height: 15px;
                    }

                }
            }
        }

        .notification-popup-box-show-all{
            @include whd;
            font-family: $font-extraLight;
            font-size: 1.4em;
            color: $icons-color;
            background: $secondary-color;
            text-align: center;
            padding: 10px 10px;
            @include transition(0.3s);

            &:hover{
                letter-spacing: 0.5px;
            }

        }
    }
}

/* ----------------------------------------------------------------------------------
   -------------------------------- MODULES SIDEBAR ---------------------------------
   ---------------------------------------------------------------------------------- */
.modules-sidebar{
    @include whd(270px, calc(100% - 60px), block);
    position: fixed;
    background: $secondary-color;
    top: 62px;
    left: 0px;
    bottom: 0px;
    z-index: 98;
    @include box-shadow;
    overflow: auto;
    padding: 0px 10px;
    @include transition(0.2s);
    line-height: normal;

    .module-box{
        @include whd;
        max-height: 47px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        @include transition(0.7s);
        margin: 15px 0px;

        &:hover{
            background: rgba(0, 0, 0, 0.2);
        }

        a{
            padding: 10px 20px 10px 20px;
            display: block;

            span{
                @include whd(auto, auto, inline-block);
            }

            p{
                font-family: $font-extraLight;
                @include whd(auto, auto, inline-block);
                color: $icons-color;
                text-indent: 15px;
                font-size: 1.4em;
                position: relative;
                top: -4px;
                opacity: 0;
                visibility: hidden;
                -webkit-animation: showModuleLinks 0.5s forwards;
                -moz-animation: showModuleLinks 0.5s forwards;
                -ms-animation: showModuleLinks 0.5s forwards;
                -o-animation: showModuleLinks 0.5s forwards;
                animation: showModuleLinks 0.5s forwards;
            }

        }

    }

    .module-box-dropdown{

        .sub-module-box{
            padding-left: 20px;
            padding-top: 10px;

            &:hover{

                .module-box-line{
                    @include whd(25px, 1px, inline-block);
                    background: $helper-color;
                }

                p{
                    color: $helper-color;
                }

            }

            .module-box-line{
                @include whd(15px, 1px, inline-block);
                background: $icons-color;
                position: relative;
                top: -8px;
                @include transition(0.3s);
            }

            p{
                @include transition(0.3s);
            }

        }

    }

    .module-box-dropdown-expanded{
        max-height: 2000px !important;
        @include transition(5s);
        background: rgba(29, 29, 29, 0.3);

        .module-box-head::after{
            top: 13px;
            right: 26px;
            @include translateY(-25%);
            @include rotate(180deg);
        }

    }

    .module-box-active{

        .module-box-head{
            background: $helper-color;

            p{
                font-family: $font-semiBold;
            }

        }

        .sub-module-active{

            .module-box-line{
                @include whd(25px, 1px, inline-block);
                background: $helper-color;
            }

            p{
                font-family: $font-regular;
                color: $helper-color;
            }

        }

    }

}

.close-siderbar-modules{
    @include whd($width: 70px, $height: calc(100% - 60px));

    .module-box{
        a{
            padding: 10px 20px 10px 15px;

            p{
                opacity: 0;
                visibility: hidden;
                -webkit-animation: none;
                -moz-animation: none;
                -ms-animation: none;
                -o-animation: none;
                animation: none;
            }

        }

    }

    .module-box-dropdown{
        ul{
            display: none;
        }

        .module-box-head{
            height: 47px;
            overflow: hidden;

            &::after{
                display: none;
            }
        }
    }

    &:hover{
        @include whd($width: 270px, $height: calc(100% - 60px));
        @include transition(0.2s);

        .module-box{
            a{
                padding: 10px 20px 10px 20px;

                p{
                    -webkit-animation: showModuleLinks 0.5s forwards;
                    -moz-animation: showModuleLinks 0.5s forwards;
                    -ms-animation: showModuleLinks 0.5s forwards;
                    -o-animation: showModuleLinks 0.5s forwards;
                    animation: showModuleLinks 0.5s forwards;
                }

                @-webkit-keyframes showModuleLinks{
                    30%{
                        opacity: 0;
                        visibility: hidden;
                    }
                    100%{
                        opacity: 1;
                        visibility: visible;
                    }
                }

                @-moz-keyframes showModuleLinks{
                    30%{
                        opacity: 0;
                        visibility: hidden;
                    }
                    100%{
                        opacity: 1;
                        visibility: visible;
                    }
                }

                @-ms-keyframes showModuleLinks{
                    30%{
                        opacity: 0;
                        visibility: hidden;
                    }
                    100%{
                        opacity: 1;
                        visibility: visible;
                    }
                }

                @-o-keyframes showModuleLinks{
                    30%{
                        opacity: 0;
                        visibility: hidden;
                    }
                    100%{
                        opacity: 1;
                        visibility: visible;
                    }
                }

                @keyframes showModuleLinks{
                    30%{
                        opacity: 0;
                        visibility: hidden;
                    }
                    100%{
                        opacity: 1;
                        visibility: visible;
                    }
                }

            }

        }

        .module-box-dropdown{
            ul{
                display: block;
            }

            .module-box-head{
                &::after{
                    display: block;
                }
            }
        }
    }

}

/* ----------------------------------------------------------------------------------
   ---------------------------- QUICK SETTINGS SIDEBAR ------------------------------
   ---------------------------------------------------------------------------------- */
.quick-settings-sidebar{
    @include whd(300px, calc(100% - 60px), block);
    position: fixed;
    background: $divider-color;
    top: 62px;
    right: -320px;
    bottom: 0px;
    z-index: 98;
    @include box-shadow;
    overflow: auto;
    padding: 20px 20px;
    @include transition(0.5s);
    line-height: normal;
}

.close-quick-settings-modules{
    @include translateX(-320px);
}

/* ----------------------------------------------------------------------------------
   ------------------------------- CONTENT CONTAINER --------------------------------
   ---------------------------------------------------------------------------------- */
.content-container{
    @include whd(calc(100% - 270px));
    padding: 60px 30px 30px 30px;
    margin-left: 270px;
    @include transition(0.5s);
}

.content-container-condition-1{
    @include whd(calc(100% - 70px));
    margin-left: 70px;
}

.content-container-condition-2{
    @include whd(calc(100% - 370px));
    margin-left: 70px;
}

.content-container-condition-3{
    @include whd(calc(100% - 570px));
    margin-left: 270px;
}

/* ----------------------------------------------------------------------------------
   ---------------------------------- GRID SYSTEM -----------------------------------
   ---------------------------------------------------------------------------------- */
.cw-container{
    @include whd;
    padding: 50px 10px;
}

.cw-row{
    @include whd($display: inline-block);
    padding: 5px;
}

.cw-col-12{
    @include whd;
    @include col;
}

.cw-col-4{
    @include whd($width: 33.33333%);
    @include col;
}

.cw-col-6{
    @include whd($width: 50%);
    @include col;
}

/* ----------------------------------------------------------------------------------
   ----------------------------------- TYPOGRAPHY -----------------------------------
   ---------------------------------------------------------------------------------- */
.sm-heading{
    @include heading;
    font-size: 1.4em;
}

.md-heading{
    @include heading;
    font-size: 2em;
}

.lg-heading{
    @include heading;
    font-size: 2.5em;
}

.sm-sub-heading{
    @include sub-heading;
    font-size: 1.4em;
}

.md-sub-heading{
    @include sub-heading;
    font-size: 2em;
}

.lg-sub-heading{
    @include sub-heading;
    font-size: 2.5em;
}

.sm-paragraph{
    @include paragraph;
    font-size: 1.4em;
}

.md-paragraph{
    @include paragraph;
    font-size: 2em;
}

.lg-paragraph{
    @include paragraph;
    font-size: 2.5em;
}

/* ----------------------------------------------------------------------------------
   ---------------------------------- INPUT FIELDS ----------------------------------
   ---------------------------------------------------------------------------------- */
.form-field{
    @include whd($display: inline-block);
    margin-bottom: 40px;
    position: relative;
}

[class*='cw-col']{
    .form-field:last-child{
        margin-bottom: 0px;
    }
}

input[type="text"], textarea, select, input[type="checkbox"], input[type="radio"]{
    @include appearance;
    resize: none;
}

.radio-input{
    line-height: 23px;
    font-size: 1.6em;
    margin-top: 20px;

    input[type="radio"]{
        @include form-input-radio;

        &::after{
            display: none;
        }

        &:checked{
            &::before{
                opacity: 1;
            }
        }
    }

    span{
        @include whd($width: calc(100% - 33px), $display: inline-block);
    }
}

.radio-circle-animation{
    .radio-input{

        input[type="radio"]{

            &::after{
                display: block;
            }

            &:checked{

                &::after{
                    opacity: 1;
                    @include scale(1);
                }

            }

            &::before{
                display: none;
            }

        }

    }
}

.checkbox-input{
    line-height: 23px;
    font-size: 1.6em;
    margin-top: 20px;

    input[type="checkbox"]{
        @include form-input-checkbox;

        &::after{
            display: none;
        }

        &:checked{
            background: $primary-color;

            &::before{
                opacity: 1;
            }
        }
    }

    span{
        @include whd($width: calc(100% - 33px), $display: inline-block);
    }
}

.checkmark-animation{
    .checkbox-input{

        input[type="checkbox"]{
            border: 0px;

            &::after{
                display: block;
            }

            &:checked{
                background: transparent;

                &::after{
                    @include whd($width: 21px, $height: 8px, $display: inline-block);
                    @include rotate(-45deg);
                    border: 2px solid $primary-color;
                    border-top-color: transparent;
                    border-right-color: transparent;
                    position: relative;
                    top: -1px;
                }
            }

            &::before{
                display: none;
            }

        }

    }
}

.style-block{
   label{
       @include sub-heading;
       font-size: 1.8em;
   }

   input[type="text"]{
       @include whd;
       @include form-input-text;
       @include placeholder($primary-color);
   }

   textarea{
       @include whd($height: 150px);
       @include form-input-text;
       @include placeholder($primary-color);
   }

   select{
       @include whd;
       @include form-input-select;
   }

   .checkbox-input{
       @include whd($display: inline-block);
   }

   .radio-input{
       @include whd($display: inline-block);
   }
}

.style-block.icon{
    &::before{
        background: $primary-color;
        position: absolute;
        top: 40px;
        left: 0px;
        bottom: 0px;
        font-size: 2em;
        padding: 15px 10px 10px 10px;
    }

    textarea{
        padding-left: 55px;
        padding-top: 6px;
    }

    input[type="text"]{
        padding-left: 55px;
    }

    select{
        padding-left: 55px;
    }
}

.style-block.group-icon-dollar{
    &::after{
        content: '\006a';
        font-family: $font-icon;
        background: $primary-color;
        color: $icons-color;
        position: absolute;
        top: 40px;
        right: 0px;
        bottom: 0px;
        font-size: 2em;
        padding: 15px 10px 10px 10px;
    }
}

.style-block.group-icon-percentage{
    &::after{
        content: '%';
        font-family: $font-semiBold;
        background: $primary-color;
        color: $icons-color;
        position: absolute;
        top: 41px;
        right: 0px;
        bottom: 0px;
        font-size: 2.5em;
        padding: 11px 13px 11px 13px;
    }
}

.style-block-border-bottom{
   label{
       @include sub-heading;
       font-size: 1.8em;
   }

   input[type="text"]{
       @include whd;
       @include form-input-text;
       @include placeholder($primary-color);
       border: 0px;
       border-bottom: 1px solid $primary-color;
       padding: 10px 0px 10px 0px;
   }

   textarea{
       @include whd($height: 150px);
       @include form-input-text;
       @include placeholder($primary-color);
       border: 0px;
       border-bottom: 1px solid $primary-color;
       padding: 0px 0px 5px 0px;
   }

   select{
       @include whd;
       @include form-input-select;
       border: 0px;
       border-bottom: 1px solid $primary-color;
       padding: 10px 0px 10px 0px;
       background-position: 100% center !important;
   }
}

.style-block-border-bottom.icon{
    &::before{
        background: $primary-color;
        position: absolute;
        top: 40px;
        bottom: 0px;
        left: 0px;
        font-size: 2em;
        padding: 15px 10px 10px 10px;
    }

    textarea{
        padding-left: 55px;
        padding-top: 6px;
    }

    input[type="text"]{
        padding-left: 55px;
    }

    select{
        padding-left: 55px;
    }
}

.style-block-border-bottom.group-icon-dollar{
    &::after{
        content: '\006a';
        font-family: $font-icon;
        background: $primary-color;
        color: $icons-color;
        position: absolute;
        top: 40px;
        right: 0px;
        bottom: 0px;
        font-size: 2em;
        padding: 15px 10px 10px 10px;
    }
}

.style-block-border-bottom.group-icon-percentage{
    &::after{
        content: '%';
        font-family: $font-semiBold;
        background: $primary-color;
        color: $icons-color;
        position: absolute;
        top: 41px;
        right: 0px;
        bottom: 0px;
        font-size: 2.5em;
        padding: 11px 13px 11px 13px;
    }
}

.style-inline-block{
   label{
       @include sub-heading;
       @include whd($width: 200px, $display: inline-block);
       font-size: 1.8em;
       float: left;
       line-height: 53px;
   }

   input[type="text"]{
       @include whd($width: calc(100% - 200px), $display: inline-block);
       float: left;
       @include form-input-text;
       @include placeholder($primary-color);
   }

   textarea{
       @include whd($width: calc(100% - 200px), $height: 150px, $display: inline-block);
       float: left;
       @include form-input-text;
       @include placeholder($primary-color);
   }

   select{
       @include whd($width: calc(100% - 200px), $display: inline-block);
       float: left;
       @include form-input-select;
   }

   .checkbox-input{
       @include whd($width: calc(100% - 200px), $display: inline-block);
       float: left;
   }

   .radio-input{
       @include whd($width: calc(100% - 200px), $display: inline-block);
       float: left;
   }
}

.style-inline-block.icon{
    &::before{
        background: $primary-color;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 200px;
        font-size: 2em;
        padding: 15px 10px 10px 10px;
    }

    textarea{
        padding-left: 50px;
        padding-top: 6px;
    }

    input[type="text"]{
        padding-left: 55px;
    }

    select{
        padding-left: 55px;
    }
}

.style-inline-block.group-icon-dollar{
    &::after{
        content: '\006a';
        font-family: $font-icon;
        background: $primary-color;
        color: $icons-color;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        font-size: 2em;
        padding: 15px 10px 10px 10px;
    }
}

.style-inline-block.group-icon-percentage{
    &::after{
        content: '%';
        font-family: $font-semiBold;
        background: $primary-color;
        color: $icons-color;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        font-size: 2.5em;
        padding: 11px 13px 11px 13px;
    }
}

.style-float-label{
    position: relative;

    label{
        @include sub-heading;
        font-family: $font-extraLight;
        font-size: 1.8em;
        position: absolute;
        @include translateY(6px);
        z-index: 0;
        opacity: 0.7;
        text-indent: 20px;
        @include transition(0.3s);
    }

    input[type="text"]{
        @include whd;
        @include form-input-text;
        @include placeholder($primary-color);
        position: relative;
        z-index: 1;
    }

    textarea{
        @include whd($height: 150px);
        @include form-input-text;
        @include placeholder($primary-color);
        position: relative;
        z-index: 1;
    }

    select{
        @include whd;
        @include form-input-select;
        position: relative;
        z-index: 1;
    }

    .normal-label{
        text-indent: 0px;
        font-family: $font-semiBold !important;
        opacity: 1;
        @include translateY(-40px);
    }

}

.style-float-label.icon{
    &::before{
        background: $primary-color;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        font-size: 2em;
        padding: 15px 10px 10px 10px;
    }

    label{
        text-indent: 50px;
    }

    .normal-label{
        text-indent: 0px;
    }

    textarea{
        padding-left: 50px;
        padding-top: 6px;
    }

    input[type="text"]{
        padding-left: 50px;
    }

    select{
        padding-left: 50px;
    }
}

.style-float-label.group-icon-dollar{
    &::after{
        content: '\006a';
        font-family: $font-icon;
        background: $primary-color;
        color: $icons-color;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        font-size: 2em;
        padding: 15px 10px 10px 10px;
    }
}

.style-float-label.group-icon-percentage{
    &::after{
        content: '%';
        font-family: $font-semiBold;
        background: $primary-color;
        color: $icons-color;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        font-size: 2.5em;
        padding: 11px 13px 11px 13px;
    }
}

.float-label-legend{
    position: relative;

    label{
        @include whd($width: auto);
        @include translateY(6px);
        background: #ffffff;
        text-indent: 0px;
        margin-left: 10px;
        padding: 0px 10px;
    }

    .normal-label{
        z-index: 2;
        @include translateY(-10px);
        text-indent: 0px;
        line-height: 18px;
    }

}

.float-label-legend.icon{
    &::before{
        background: $primary-color;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        font-size: 2em;
        padding: 15px 10px 10px 10px;
    }

    label{
        text-indent: 0px;
        margin-left: 40px;
    }

    .normal-label{
        text-indent: 0px;
        @include translateY(-11px);
    }

    textarea{
        padding-left: 50px;
        padding-top: 6px;
    }

}

.float-label-legend.group-icon-dollar{
    &::after{
        content: '\006a';
        font-family: $font-icon;
        background: $primary-color;
        color: $icons-color;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        font-size: 2em;
        padding: 15px 10px 10px 10px;
    }
}


.float-label-legend.group-icon-percentage{
    &::after{
        content: '%';
        font-family: $font-semiBold;
        background: $primary-color;
        color: $icons-color;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        font-size: 2.5em;
        padding: 11px 13px 11px 13px;
    }
}

.float-label-border-bottom{

    label{
        text-indent: 0px;
    }

    input[type="text"]{
        border: none;
        border-bottom: 1px solid $primary-color;
        padding: 10px 0px 10px 0px;
    }

    textarea{
        border: none;
        border-bottom: 1px solid $primary-color;
        padding: 10px 0px 10px 0px;
    }

    select{
        @include whd;
        @include form-input-select;
        border: 0px;
        border-bottom: 1px solid $primary-color;
        padding: 10px 0px 10px 0px;
        background-position: 100% center !important;
    }

    .normal-label{
        @include translateY(-40px);
    }

}

.float-label-border-bottom.icon{
    &::before{
        background: $primary-color;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        font-size: 2em;
        padding: 15px 10px 10px 10px;
    }

    label{
        text-indent: 50px;
        @include translateY(4px);
    }

    .normal-label{
        text-indent: 0px;
        @include translateY(-40px);
    }

    textarea{
        padding-left: 50px;
        padding-top: 6px;
    }

    input[type="text"]{
        padding-left: 50px;
    }
}

.float-label-border-bottom.group-icon-dollar{
    &::after{
        content: '\006a';
        font-family: $font-icon;
        background: $primary-color;
        color: $icons-color;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        font-size: 2em;
        padding: 15px 10px 10px 10px;
    }
}

.float-label-border-bottom.group-icon-percentage{
    &::after{
        content: '%';
        font-family: $font-semiBold;
        background: $primary-color;
        color: $icons-color;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        font-size: 2.5em;
        padding: 11px 13px 11px 13px;
    }
}

.field-pass{
    .input-success{
        @include whd($display: inline-block);
        margin-top: 15px;
        font-size: 1.6em;
        font-family: $font-semiBold;
        color: #2ecc71 !important;
        clear: both;
        overflow: hidden;
        padding: 15px;
        background: rgba(46, 204, 113, 0.2) !important;
    }
    label{
        color: #2ecc71 !important;
    }
    input[type="text"]{
        border-color: #2ecc71 !important;
        color: #2ecc71 !important;
    }
    textarea{
        border-color: #2ecc71 !important;
        color: #2ecc71 !important;
    }
    select{
        border-color: #2ecc71 !important;
        color: #2ecc71 !important;
        background: url('../img/arrow-down-pass.svg');
    }
    .checkbox-input{
        input[type="checkbox"]{
            border-color: #2ecc71 !important;

            &:checked{
                background: #2ecc71 !important;
            }
        }

        span{
            color: #2ecc71 !important;
        }
    }
    .radio-input{
        input[type="radio"]{
            border-color: #2ecc71 !important;

            &:checked{
                &::before{
                    background: #2ecc71 !important;
                }
            }
        }

        span{
            color: #2ecc71 !important;
        }
    }
}

.field-pass.checkmark-animation{
    .checkbox-input{
        input[type="checkbox"]{
            background: transparent !important;

            &::after{
                border: 1px solid #2ecc71;
            }

            &:checked{
                &::after{
                    border: 2px solid #2ecc71;
                    border-top-color: transparent;
                    border-right-color: transparent;
                }
            }
        }

        span{
            color: #2ecc71 !important;
        }
    }
}

.field-pass.icon{
    &::before{
        background: #2ecc71 !important;
        bottom: 0px !important;
    }
}

.field-pass.group-icon-dollar, .field-pass.group-icon-percentage{
    &::after{
        background: #2ecc71 !important;
        bottom: 0px !important;
    }
}

.field-pass.fix-icon.icon{
    &::before{
        background: #2ecc71 !important;
        bottom: calc(0px + 67px) !important;
    }
}

.field-pass.fix-icon.group-icon-dollar, .field-pass.fix-icon.group-icon-percentage{
    &::after{
        background: #2ecc71 !important;
        bottom: calc(0px + 67px) !important;
    }
}

.field-error{
    .input-error{
        @include whd($display: inline-block);
        margin-top: 15px;
        font-size: 1.6em;
        font-family: $font-semiBold;
        color: #c0392b !important;
        clear: both;
        overflow: hidden;
        padding: 15px;
        background: rgba(192, 57, 43, 0.2);
    }
    label{
        color: #c0392b !important;
    }
    input[type="text"]{
        border-color: #c0392b !important;
        color: #c0392b !important;
    }
    textarea{
        border-color: #c0392b !important;
        color: #c0392b !important;
    }
    select{
        border-color: #c0392b !important;
        color: #c0392b !important;
        background: url('../img/arrow-down-error.svg');
    }
    .checkbox-input{
        input[type="checkbox"]{
            border-color: #c0392b !important;

            &:checked{
                background: #c0392b !important;
            }
        }

        span{
            color: #c0392b !important;
        }
    }
    .radio-input{
        input[type="radio"]{
            border-color: #c0392b !important;

            &:checked{
                &::after{
                    background: #c0392b !important;
                }
            }
        }

        span{
            color: #c0392b !important;
        }
    }
}

.field-error.checkmark-animation{
    .checkbox-input{
        input[type="checkbox"]{
            background: transparent !important;

            &::after{
                border: 1px solid #c0392b;
            }

            &:checked{
                &::after{
                    border: 2px solid #c0392b;
                    border-top-color: transparent;
                    border-right-color: transparent;
                }
            }
        }

        span{
            color: #c0392b !important;
        }
    }
}

.field-error.icon{
    &::before{
        background: #c0392b !important;
        bottom: calc(0px + 67px) !important;
    }
}

.field-error.group-icon-dollar, .field-error.group-icon-percentage{
    &::after{
        background: #c0392b !important;
        bottom: calc(0px + 67px) !important;
    }
}

.field-error.fix-icon.icon{
    &::before{
        background: #c0392b !important;
        bottom: 0px !important;
    }
}

.field-error.icon{
    &::before{
        background: #c0392b !important;
        bottom: calc(0px + 67px) !important;
    }
}

.field-error.fix-icon.group-icon-dollar, .field-error.fix-icon.group-icon-percentage{
    &::after{
        background: #c0392b !important;
        bottom: 0px !important;
    }
}

/* ----------------------------------------------------------------------------------
   ------------------------------------ BUTTONS -------------------------------------
   ---------------------------------------------------------------------------------- */
.control-buttons-left{
    text-align: left;
}

.control-buttons-center{
    text-align: center;
}

.control-buttons-right{
    text-align: right;

    button{
        margin-right: 0px !important;
        margin-left: 15px;

        &:last-child{
            margin-left: 15px !important;
            margin-right: 15px;
        }
    }
}

.control-buttons [class*="cw-"]{
    @include transition(0.3s);
}

.control-buttons{
    button{
        &::before{
            @include whd($width: 15px, $height: 15px, $display: inline-block);
            margin-right: 7px;
            position: relative;
            top: 2px;
            @include transition(0.3s);
        }
    }

    .normal-button{
        border: 1px solid $primary-color;
        background: $primary-color;
        color: $icons-color;
    }

    .cw-close{
        &::before{
            content: url('../img/cancel-icon.svg');
        }
    }

    .cw-view-all{
        &::before{
            content: url('../img/view-all-icon.svg');
        }
    }

    .cw-download{
        &::before{
            content: url('../img/download-icon.svg');
        }
    }

    .cw-print{
        &::before{
            content: url('../img/print-icon.svg');
        }
    }

    .cw-save{
        &::before{
            content: url('../img/save-icon.svg');
        }
    }

    .cw-save-continue{
        &::before{
            content: url('../img/save-continue-icon.svg');
        }
    }

    .cw-add{
        &::before{
            content: url('../img/add-icon.svg');
        }
    }

    .cw-create{
        &::before{
            content: url('../img/create-icon.svg');
        }
    }

    .cw-reset-fields{
        &::before{
            content: url('../img/reset-fields-icon.svg');
        }
    }

    .cw-import{
        &::before{
            content: url('../img/import-icon.svg');
        }
    }

    .cw-export{
        &::before{
            content: url('../img/export-icon.svg');
        }
    }
}

.control-buttons.style-glass-sliding{
    button{
        &::after{
            background: rgba(255,255,255,0.7);
            content: "";
            height: 155px;
            left: -75px;
            opacity: 0.2;
            position: absolute;
            top: -50px;
            -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
            -webkit-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
            transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
            width: 50px;
            z-index: 2;
        }

        &:hover{
            &::after{
                left: 120%;
                -webkit-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
                transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
            }
        }
    }
}

.control-buttons.style-borders{
    button{
        padding: 6px 20px;
        font-size: 1.5em;
        @include border-radius(3px);
        outline: none;
        cursor: pointer;
        margin-right: 15px;
        margin-top: 20px;
        font-family: $font-regular;
        position: relative;
        z-index: 1;
        overflow: hidden;
        border: 1px solid;

        &:last-child{
            margin-right: 0px;
        }
    }

    .cw-save{
        background: transparent;
        border: 1px solid #2ecc71 !important;
        color: #2ecc71 !important;

        &:hover{
            background: #2ecc71;
            border: 1px solid #2ecc71 !important;
            color: #ffffff !important;
        }
    }

    .cw-save-continue{
        background: transparent;
        border: 1px solid #27ae60 !important;
        color: #27ae60 !important;

        &:hover{
            background: #27ae60;
            border: 1px solid #27ae60 !important;
            color: #ffffff !important;
        }
    }

    .cw-close{
        background: transparent;
        border: 1px solid #e74c3c !important;
        color: #e74c3c !important;

        &:hover{
            background: #e74c3c;
            border: 1px solid #e74c3c !important;
            color: #ffffff !important;
        }
    }

    .cw-print{
        background: transparent;
        border: 1px solid #be2edd !important;
        color: #be2edd !important;

        &:hover{
            background: #be2edd;
            border: 1px solid #be2edd !important;
            color: #ffffff !important;
        }
    }

    .cw-view-all{
        background: transparent;
        border: 1px solid #0984e3 !important;
        color: #0984e3 !important;

        &:hover{
            background: #0984e3;
            border: 1px solid #0984e3 !important;
            color: #ffffff !important;
        }
    }

    .cw-import{
        background: transparent;
        border: 1px solid #e6bc25 !important;
        color: #e6bc25 !important;

        &:hover{
            background: #e6bc25;
            border: 1px solid #e6bc25 !important;
            color: #ffffff !important;
        }
    }

    .cw-export{
        background: transparent;
        border: 1px solid #f0932b !important;
        color: #f0932b !important;

        &:hover{
            background: #f0932b;
            border: 1px solid #f0932b !important;
            color: #ffffff !important;
        }
    }

    .cw-create{
        background: transparent;
        border: 1px solid #16a085 !important;
        color: #16a085 !important;

        &:hover{
            background: #16a085;
            border: 1px solid #16a085 !important;
            color: #ffffff !important;
        }
    }

    .cw-add{
        background: transparent;
        border: 1px solid #1abc9c !important;
        color: #1abc9c !important;

        &:hover{
            background: #1abc9c;
            border: 1px solid #1abc9c !important;
            color: #ffffff !important;
        }
    }

    .cw-reset-fields{
        background: transparent;
        border: 1px solid #7f8c8d !important;
        color: #7f8c8d !important;

        &:hover{
            background: #7f8c8d;
            border: 1px solid #7f8c8d !important;
            color: #ffffff !important;
        }
    }

    .cw-download{
        background: transparent;
        border: 1px solid #3498db !important;
        color: #3498db !important;

        &:hover{
            background: #3498db;
            border: 1px solid #3498db !important;
            color: #ffffff !important;
        }
    }
}

.control-buttons.style-borders{
    button{
        &::before{
            @include whd($width: 15px, $height: 15px, $display: inline-block);
            margin-right: 7px;
            position: relative;
            top: 2px;
        }
    }

    .cw-close{
        &::before{
            content: url('../img/cancel-icon-colored.svg');
        }
        &:hover{
            &::before{
                content: url('../img/cancel-icon.svg');
            }
        }
    }

    .cw-view-all{
        &::before{
            content: url('../img/view-all-icon-colored.svg');
        }
        &:hover{
            &::before{
                content: url('../img/view-all-icon.svg');
            }
        }
    }

    .cw-download{
        &::before{
            content: url('../img/download-icon-colored.svg');
        }
        &:hover{
            &::before{
                content: url('../img/download-icon.svg');
            }
        }
    }

    .cw-print{
        &::before{
            content: url('../img/print-icon-colored.svg');
        }
        &:hover{
            &::before{
                content: url('../img/print-icon.svg');
            }
        }
    }

    .cw-save{
        &::before{
            content: url('../img/save-icon-colored.svg');
        }
        &:hover{
            &::before{
                content: url('../img/save-icon.svg');
            }
        }
    }

    .cw-save-continue{
        &::before{
            content: url('../img/save-continue-icon-colored.svg');
        }
        &:hover{
            &::before{
                content: url('../img/save-continue-icon.svg');
            }
        }
    }

    .cw-add{
        &::before{
            content: url('../img/add-icon-colored.svg');
        }
        &:hover{
            &::before{
                content: url('../img/add-icon.svg');
            }
        }
    }

    .cw-create{
        &::before{
            content: url('../img/create-icon-colored.svg');
        }
        &:hover{
            &::before{
                content: url('../img/create-icon.svg');
            }
        }
    }

    .cw-reset-fields{
        &::before{
            content: url('../img/reset-fields-icon-colored.svg');
        }
        &:hover{
            &::before{
                content: url('../img/reset-fields-icon.svg');
            }
        }
    }

    .cw-import{
        &::before{
            content: url('../img/import-icon-colored.svg');
        }
        &:hover{
            &::before{
                content: url('../img/import-icon.svg');
            }
        }
    }

    .cw-export{
        &::before{
            content: url('../img/export-icon-colored.svg');
        }
        &:hover{
            &::before{
                content: url('../img/export-icon.svg');
            }
        }
    }
}

.control-buttons.style-normal, .control-buttons.style-glass-sliding{
    @include whd($display: inline-block);

    button{
        padding: 6px 20px;
        font-size: 1.5em;
        @include border-radius(3px);
        outline: none;
        cursor: pointer;
        margin-right: 15px;
        margin-top: 20px;
        font-family: $font-regular;
        color: #ffffff !important;
        position: relative;
        z-index: 1;
        overflow: hidden;

        &:last-child{
            margin-right: 0px;
        }

    }

    .cw-save{
        background: #2ecc71;
        border: 1px solid #2ecc71 !important;

        &:hover{
            background: #208a4d;
            border: 1px solid #208a4d !important;
        }
    }

    .cw-save-continue{
        background: #27ae60;
        border: 1px solid #27ae60 !important;

        &:hover{
            background: #1b7b44;
            border: 1px solid #1b7b44 !important;
        }
    }

    .cw-close{
        background: #e74c3c;
        border: 1px solid #e74c3c !important;

        &:hover{
            background: #c0392b;
            border: 1px solid #c0392b !important;
        }
    }

    .cw-print{
        background: #be2edd;
        border: 1px solid #be2edd !important;

        &:hover{
            background: #8c24a2;
            border: 1px solid #8c24a2 !important;
        }
    }

    .cw-view-all{
        background: #0984e3;
        border: 1px solid #0984e3 !important;

        &:hover{
            background: #0b6ab3;
            border: 1px solid #0b6ab3 !important;
        }
    }

    .cw-import{
        background: #e6bc25;
        border: 1px solid #e6bc25 !important;

        &:hover{
            background: #d0a91e;
            border: 1px solid #d0a91e !important;
        }
    }

    .cw-export{
        background: #f0932b;
        border: 1px solid #f0932b !important;

        &:hover{
            background: #d68429;
            border: 1px solid #d68429 !important;
        }
    }

    .cw-create{
        background: #16a085;
        border: 1px solid #16a085 !important;

        &:hover{
            background: #127965;
            border: 1px solid #127965 !important;
        }
    }

    .cw-add{
        background: #1abc9c;
        border: 1px solid #1abc9c !important;

        &:hover{
            background: #199e84;
            border: 1px solid #199e84 !important;
        }
    }

    .cw-reset-fields{
        background: #7f8c8d;
        border: 1px solid #7f8c8d !important;

        &:hover{
            background: #717777;
            border: 1px solid #717777 !important;
        }
    }

    .cw-download{
        background: #3498db;
        border: 1px solid #3498db !important;

        &:hover{
            background: #2879af;
            border: 1px solid #2879af !important;
        }
    }
}

/* ----------------------------------------------------------------------------------
   ------------------------------------ MODALS --------------------------------------
   ---------------------------------------------------------------------------------- */
.remodal{
    @include border-radius(10px);
    text-align: left;

    .modal-title-heading{
        font-size: 2.6em;
        font-family: $font-semiBold;
        text-align: left;
        padding: 15px 20px;
        background: #f1f1f1;
        color: $primary-color;
        -webkit-border-top-left-radius: 10px;
        -moz-border-top-left-radius: 10px;
        -ms-border-top-left-radius: 10px;
        -o-border-top-left-radius: 10px;
        border-top-left-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        -moz-border-top-right-radius: 10px;
        -ms-border-top-right-radius: 10px;
        -o-border-top-right-radius: 10px;
        border-top-right-radius: 10px;
    }

    .modal-body{
        @include whd($display: inline-block);
        padding: 20px 0px;
    }
}

/* ----------------------------------------------------------------------------------
   ---------------------------------- ACCORDIONS ------------------------------------
   ---------------------------------------------------------------------------------- */
.accordion{
    @include whd;
    @include transition(0.3s);

    .accordion-title{
        text-align: left;
        font-size: 1.8em;
        font-family: $font-semiBold;
        outline: none;
        border: 1px solid $primary-color;
        @include border-radius(0px);
        @include transition(0.3s);
        padding: 20px;

        .ui-icon{
            display: none;
        }
    }

    .accordion-title.icon{
        &::before{
            top: 3px;
            margin-right: 10px;
            color: $primary-color;
        }
    }

    .accordion-title.ui-state-hover, .accordion-title.ui-state-active, .accordion-title.ui-state-focus{
        &::before{
            color: $icons-color;
        }
    }

    .accordion-body{
        padding: 0px;
    }
}

/* ----------------------------------------------------------------------------------
   ----------------------------------- TOOLTIPS -------------------------------------
   ---------------------------------------------------------------------------------- */
.tpd-content{
    font-family: $font-extraLight !important;
    font-size: 1.4em !important;
    color: $icons-color !important;
    background: $primary-color !important;
    padding: 15px !important;
    @include border-radius(5px);
}

.tpd-stem-triangle{
    border-bottom: 9.41421px solid $primary-color !important;
}
