@import 'base';

/* ----------------------------------------------------------------------------------
   ------------------------------------- NAVBAR -------------------------------------
   ---------------------------------------------------------------------------------- */
.navbar{
    @include whd($display: inline-block);
    background: $primary-color;
    @include transition(0.3s);
    line-height: 60px;
    @include box-shadow;
    position: fixed;
    z-index: 99;

    .navbar-left{
        @include whd(auto);
        float: left;
    }

    .navbar-right{
        @include whd(auto);
        float: right;
    }
}

.navbar-logo{
    @include whd(270px, $display: inline-block);
    float: left;
    @include transition(0.5s);
    padding: 10px 0px;

    img{
        @include whd(auto, 42px, block);
        margin: auto;
    }
}

.close-navbar-logo{
    @include translateX(-320px);
    width: 0px;
}

.navbar-hamburger-menu, .navbar-settings-btn{
    @include whd(auto, auto, inline-block);
    float: left;
    padding: 0px 22px;
    border-right: 1.5px solid rgba(255,255,255,0.1);
    border-left: 1.5px solid rgba(255,255,255,0.1);
    cursor: pointer;

    span::before{
        position: relative;
        top: 9px;
    }
}

.navbar-links{
    @include whd(auto, auto, inline-block);
    float: left;

    a{
        margin-left: 50px;
        font-family: $font-light;
        font-size: 1.5em;
        color: $icons-color;
    }
}

.navbar-mail-notifications, .navbar-notifications, .navbar-user-avatar{
    @include whd(auto, auto, inline-block);
    float: left;
    padding: 0px 20px;
    cursor: pointer;
}

.navbar-mail-notifications, .navbar-notifications{
    position: relative;
    z-index: 99;

    span:before, span:before{
        position: relative;
        top: 10px;
    }
}

.navbar-user-avatar{
    position: relative;
    z-index: 99;

    &:hover{

        .avatar-popup-box{
            max-height: 2000px;
            @include whd(300px, auto, block);
            @include transition(1s);
        }

    }

    .navbar-avatar-icon{

        &::before{
            position: relative;
            top: 13px;
        }

    }

    .navbar-avatar-image{
        @include whd(35px, 35px, none);
        position: relative;
        top: 15px;
        @include border-radius(50%);
    }

    .navbar-avatar-name{
        font-family: $font-light;
        font-size: 1.5em;
        color: $icons-color;
        padding-left: 15px;
    }

    .avatar-popup-box{
        @include whd(300px, auto, block);
        max-height: 0px;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 60px;
        background: $divider-color;
        line-height: normal;
        @include box-shadow;
        cursor: default;

        &::before{
            content: '';
            @include whd($height: 2px);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            background: $helper-color;
        }

        .avatar-popup-box-user-details{
            @include whd(250px, auto, block);
            margin: 20px auto;

            span:nth-child(1){
                @include whd(100%, auto, block);
                text-align: center;
                line-height: 60px;
            }

            img:nth-child(2){
                @include whd(70px, 70px, none);
                margin: 0px auto 5px auto;
            }

            span:nth-child(3){
                @include whd;
                text-align: center;
                font-family: $font-regular;
                font-size: 1.6em;
                color: $icons-color;
            }

            span:nth-child(4){
                @include whd;
                font-family: $font-light;
                text-align: center;
                font-size: 1.2em;
                color: $icons-color;
            }

        }

        .avatar-popup-box-links{
            @include whd;

            a{
                @include whd;
                padding: 10px 30px;
                border-top: 1.5px solid rgba(255,255,255,0.1);
                @include transition(0.3s);

                span:nth-child(1){
                    position: relative;
                    top: 5px;
                }

                span:nth-child(2){
                    font-family: $font-light;
                    font-size: 1.4em;
                    color: $icons-color;
                    margin-left: 15px;
                    position: relative;
                    top: -2px;
                }

                &:hover{
                    background: $helper-color;
                }

            }

        }

    }

}

.registered-user{

    .navbar-avatar-icon{

        &::before{
            display: none;
        }

    }

    .navbar-avatar-image{
        @include whd(35px, 35px, inline-block);
    }

    .avatar-popup-box-user-details{

        span:nth-child(1){
            display: none !important;
        }

        img:nth-child(2){
            display: block !important;
        }

    }

}

.navbar-notifications,.navbar-mail-notifications{

    .new-notifications{

        &::after{
            top: 15px;
            right: 15px;
            z-index: 5;
        }

    }

}

.navbar-mail-notifications{

    &:hover{

        .email-notifications-popup-box{
            max-height: 2000px;
            @include whd(300px, auto, block);
            @include transition(1s);
        }

    }

    .email-notifications-popup-box{
        @include whd(300px, auto, block);
        max-height: 0px;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 60px;
        background: $divider-color;
        line-height: normal;
        @include box-shadow;

        &::before{
            content: '';
            @include whd($height: 2px);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            background: $helper-color;
        }

        .email-notifications-popup-box-heading{
            font-family: $font-semiBold;
            @include whd;
            padding: 10px 20px 10px 20px;
            font-size: 1.4em;
            color: $helper-color;
            text-align: left;
        }

        .email-notifications-popup-box-container{
            @include whd;
            max-height: 390px;
            position: relative;
            overflow: auto;

            .email-notification-popup-box{
                @include whd;
                clear: both;
                overflow: hidden;
                padding: 10px 20px 12px 20px;
                border-bottom: 1.5px solid rgba(255,255,255,0.1);
                @include transition(0.3s);

                &:last-child{
                    border-bottom: 0px;
                }

                &:hover{
                    background: rgba(0,0,0,0.1);
                }

                .email-notification-popup-box-avatar{
                    @include whd(40px, 40px, inline-block);
                    float: left;

                    img{
                        @include whd(100%, 100%, inline-block);
                    }
                }

                .email-notification-popup-box-message{
                    width: calc(100% - 60px);
                    float: right;

                    div{
                        @include whd;
                        clear: both;
                        overflow: hidden;
                    }

                    div span:nth-child(1){
                        font-family: $font-semiBold;
                        font-size: 1.5em;
                        color: $icons-color;
                        float: left;
                    }

                    div span:nth-child(2){
                        font-family: $font-extraLight;
                        font-size: 1.2em;
                        color: $icons-color;
                        float: right;
                    }

                    p:nth-child(2){
                        font-family: $font-light;
                        font-size: 1.3em;
                        color: $icons-color;
                        line-height: 15px;
                    }

                }

            }

        }

        .email-notification-popup-box-show-all{
            @include whd;
            font-family: $font-extraLight;
            font-size: 1.4em;
            color: $icons-color;
            background: $secondary-color;
            text-align: center;
            padding: 10px 10px;
            @include transition(0.3s);

            &:hover{
                letter-spacing: 0.5px;
            }
        }
    }
}

.navbar-notifications{
    &:hover{

        .notifications-popup-box{
            max-height: 2000px;
            @include whd(300px, auto, block);
            @include transition(1s);
        }

    }

    .notifications-popup-box{
        @include whd(300px, auto, block);
        max-height: 0px;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 60px;
        background: $divider-color;
        line-height: normal;
        @include box-shadow;

        &::before{
            content: '';
            @include whd($height: 2px);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            background: $helper-color;
        }

        .notifications-popup-box-heading{
            font-family: $font-semiBold;
            @include whd;
            padding: 10px 20px 10px 20px;
            font-size: 1.4em;
            color: $helper-color;
            text-align: left;
        }

        .notifications-popup-box-container{
            @include whd;
            max-height: 388.5px;
            position: relative;
            overflow: auto;

            .notification-popup-box{
                @include whd;
                clear: both;
                overflow: hidden;
                padding: 10px 20px 12px 20px;
                border-bottom: 1.5px solid rgba(255,255,255,0.1);
                @include transition(0.3s);

                &:last-child{
                    border-bottom: 0px;
                }

                &:hover{
                    background: rgba(0,0,0,0.1);
                }

                .notification-popup-box-avatar{
                    @include whd(40px, 40px, inline-block);
                    float: left;

                    img{
                        @include whd(100%, 100%, inline-block);
                    }

                }

                .notification-popup-box-message{
                    width: calc(100% - 60px);
                    float: right;

                    div{
                        @include whd;
                        clear: both;
                        overflow: hidden;
                    }

                    div span:nth-child(1){
                        font-family: $font-semiBold;
                        font-size: 1.5em;
                        color: $icons-color;
                        float: left;
                    }

                    div span:nth-child(2){
                        font-family: $font-extraLight;
                        font-size: 1.2em;
                        color: $icons-color;
                        float: right;
                    }

                    p:nth-child(2){
                        font-family: $font-light;
                        font-size: 1.3em;
                        color: $icons-color;
                        line-height: 15px;
                    }

                }
            }
        }

        .notification-popup-box-show-all{
            @include whd;
            font-family: $font-extraLight;
            font-size: 1.4em;
            color: $icons-color;
            background: $secondary-color;
            text-align: center;
            padding: 10px 10px;
            @include transition(0.3s);

            &:hover{
                letter-spacing: 0.5px;
            }

        }
    }
}

/* ----------------------------------------------------------------------------------
   -------------------------------- MODULES SIDEBAR ---------------------------------
   ---------------------------------------------------------------------------------- */
.modules-sidebar{
    @include whd(270px, calc(100% - 60px), block);
    position: fixed;
    background: $secondary-color;
    top: 60px;
    left: 0px;
    bottom: 0px;
    z-index: 98;
    @include box-shadow;
    overflow: auto;
    padding: 0px 10px;
    @include transition(0.5s);
    line-height: normal;

    .module-box{
        @include whd;
        max-height: 47px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        @include transition(0.7s);
        margin: 15px 0px;

        &:hover{
            background: rgba(0, 0, 0, 0.2);
        }

        a{
            padding: 10px 20px 10px 20px;
            display: block;

            span{
                @include whd(auto, auto, inline-block);
            }

            p{
                font-family: $font-extraLight;
                @include whd(auto, auto, inline-block);
                color: $icons-color;
                text-indent: 15px;
                font-size: 1.4em;
                position: relative;
                top: -4px;
            }

        }

    }

    .module-box-dropdown{

        .sub-module-box{
            padding-left: 20px;
            padding-top: 10px;

            &:hover{

                .module-box-line{
                    @include whd(25px, 1px, inline-block);
                    background: $helper-color;
                }

                p{
                    color: $helper-color;
                }

            }

            .module-box-line{
                @include whd(15px, 1px, inline-block);
                background: $icons-color;
                position: relative;
                top: -8px;
                @include transition(0.3s);
            }

            p{
                @include transition(0.3s);
            }

        }

    }

    .module-box-dropdown-expanded{
        max-height: 2000px !important;
        @include transition(5s);
        background: rgba(29, 29, 29, 0.3);

        .module-box-head::after{
            top: 13px;
            right: 26px;
            @include translateY(-25%);
            @include rotate(180deg);
        }

    }

    .module-box-active{

        .module-box-head{
            background: $helper-color;

            p{
                font-family: $font-semiBold;
            }

        }

        .sub-module-active{

            .module-box-line{
                @include whd(25px, 1px, inline-block);
                background: $helper-color;
            }

            p{
                font-family: $font-regular;
                color: $helper-color;
            }

        }

    }

}

.close-siderbar-modules{
    @include translateX(-300px);
}

/* ----------------------------------------------------------------------------------
   ---------------------------- QUICK SETTINGS SIDEBAR ------------------------------
   ---------------------------------------------------------------------------------- */
.quick-settings-sidebar{
    @include whd(300px, calc(100% - 60px), block);
    position: fixed;
    background: $divider-color;
    top: 60px;
    right: -320px;
    bottom: 0px;
    z-index: 98;
    @include box-shadow;
    overflow: auto;
    padding: 20px 20px;
    @include transition(0.5s);
    line-height: normal;
}

.close-quick-settings-modules{
    @include translateX(-320px);
}

/* ----------------------------------------------------------------------------------
   ------------------------------- CONTENT CONTAINER --------------------------------
   ---------------------------------------------------------------------------------- */
.content-container{
    @include whd(calc(100% - 270px));
    padding: 60px 30px 30px 30px;
    margin-left: 270px;
    @include transition(0.5s);
}

.content-container-condition-1{
    @include whd(calc(100%));
    margin-left: 0px;
}

.content-container-condition-2{
    @include whd(calc(100% - 300px));
    margin-left: 0px;
}

.content-container-condition-3{
    @include whd(calc(100% - 570px));
    margin-left: 270px;
}

/* ----------------------------------------------------------------------------------
   ---------------------------------- GRID SYSTEM -----------------------------------
   ---------------------------------------------------------------------------------- */
.cw-container{
    @include whd;
    padding: 50px 10px;
}

.cw-row{
    @include whd($display: inline-block);
    padding: 5px;
}

.cw-col-12{
    @include whd;
    @include col;
}

.cw-col-4{
    @include whd($width: 33.33333%);
    @include col;
}

.cw-col-6{
    @include whd($width: 50%);
    @include col;
}

/* ----------------------------------------------------------------------------------
   ----------------------------------- TYPOGRAPHY -----------------------------------
   ---------------------------------------------------------------------------------- */
.sm-heading{
    @include heading;
    font-size: 1.4em;
}

.md-heading{
    @include heading;
    font-size: 2em;
}

.lg-heading{
    @include heading;
    font-size: 2.5em;
}

.sm-sub-heading{
    @include sub-heading;
    font-size: 1.4em;
}

.md-sub-heading{
    @include sub-heading;
    font-size: 2em;
}

.lg-sub-heading{
    @include sub-heading;
    font-size: 2.5em;
}

.sm-paragraph{
    @include paragraph;
    font-size: 1.4em;
}

.md-paragraph{
    @include paragraph;
    font-size: 2em;
}

.lg-paragraph{
    @include paragraph;
    font-size: 2.5em;
}
