@import 'base';

html, body{
    @include whd;
    font-family: $font-regular;
    font-size: 10px;
    color: $primary-color;
    position: relative;
    overflow: auto;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.new-notifications::after{
    content: '';
    @include whd(12px, 12px, block);
    position: absolute;
    background: $notification-color;
    @include border-radius(50%);
}

.notifications-empty{
    @include whd;
    text-align: center;
    color: $icons-color;
    font-family: $font-regular;
    font-size: 1.6em;
    margin-bottom: 20px;
}

.module-box-dropdown{

    .module-box-head::after{
        content: '\004e';
        font-family: $font-icon;
        @include whd(20px, 20px, block);
        position: absolute;
        top: 21px;
        right: 20px;
        @include translateY(-25%);
        color: $icons-color;
        font-size: 1.4em;
        @include transition(0.3s);
    }

}

pre{
    @include code-block;

    .tag-name{
        color: #ff3131;
    }

    .tag, .operator{
        color: #f1f1f1;
    }

    .attribute{
        color: #ff873f;
    }

    .quote, .value{
        color: #abff3f;
    }

    .comment{
        color: #737373;
    }

}
