@import 'base';

html, body{
    @include whd;
    font-family: $font-regular;
    font-size: 10px;
    color: $primary-color;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.horziontal-align{
    width: 100%;
    height: 100%;
    display: table;
}

.vertical-align{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.new-notifications::after{
    content: '';
    @include whd(12px, 12px, block);
    position: absolute;
    background: $notification-color;
    @include border-radius(50%);
}

.notifications-empty{
    @include whd;
    text-align: center;
    color: $icons-color;
    font-family: $font-regular;
    font-size: 1.6em;
    margin-bottom: 20px;
}

.module-box-dropdown{

    .module-box-head::after{
        content: '\002a';
        font-family: $font-icon;
        @include whd(20px, 20px, block);
        position: absolute;
        top: 21px;
        right: 20px;
        @include translateY(-25%);
        color: $icons-color;
        font-size: 1.4em;
        @include transition(0.3s);
    }

}

.class-indicator{
    color: #d20f0f;
}

pre{
    @include code-block;
    color: $icons-color;

    .tag-name{
        color: #ff3131;
    }

    .tag, .operator{
        color: #f1f1f1;
    }

    .attribute{
        color: #ff873f;
    }

    .quote, .value{
        color: #abff3f;
    }

    .comment{
        color: #737373;
    }

    .type{
        color: #c678dd;
    }

    .operator{
        color: #50adbd;
    }

    .function{
        color: #61afef;
    }

    .string{
        color: #fef129;
    }

}

.ui-datepicker{
    font-size: 1.6em;
    color: $primary-color;
    right: 0;
    background: transparent;
    border: 0px;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
    z-index: 99999 !important;
}

.ui-widget.ui-widget-content {
    border: 0px;
    padding: 15px 10px 10px 15px;
}

.ui-datepicker .ui-datepicker-header {
    color: $primary-color;
    background: transparent;
    border: 0px;
    border-bottom: 0.5px solid $primary-color;
    @include border-radius(0px);
    padding-bottom: 10px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 0px;
    background: transparent;
    font-family: $font-regular;
    font-weight: 300;
    color: $primary-color;
    text-align: center;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    background: $primary-color;
    color: $icons-color;
    @include border-radius(3px);
}

.ui-datepicker td:hover {
    background: $primary-color;
    color: $icons-color;
    @include border-radius(3px);
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
    border: 0px;
    background: transparent;
    font-weight: normal;
    color: $icons-color;
    background: $primary-color;
    @include border-radius(3px);
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{
    padding: 2px 4px;
    background: transparent;
    color: $primary-color;
    border: 0px;
    border: 1px solid $primary-color;
    outline: none;
    margin: 0px 2.5%;
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    -ms-appearance: menulist;
    -o-appearance: menulist;
    appearance: menulist;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year option{
    outline: none;
}

.ui-datepicker-buttonpane button, .ui-widget-content button{
    border: 1px solid $primary-color !important;
    @include transition(0.3s);
    color: $primary-color !important;
    opacity: 1 !important;
    outline: none;
}

.ui-datepicker-buttonpane button:hover{
    background: $primary-color !important;
    color: $icons-color !important;
}

.timepicker_wrap{
    background: #ffffff;
    border: 0px;
    top: 52px !important;
    border-radius: 0px;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.style-inline-block .timepicker_wrap{
    left: 200px !important;
}

.timepicker_wrap .ti_tx, .timepicker_wrap .mi_tx, .timepicker_wrap .mer_tx{
    margin: 0px;
}

.timepicker_wrap .ti_tx, .timepicker_wrap .mi_tx, .timepicker_wrap .mer_tx{
    width: 70%;
    position: relative;
    left: 9px;
    margin: 10px 0px;
}

.timepicker_wrap .ti_tx input[type="text"], .timepicker_wrap .mi_tx input[type="text"], .timepicker_wrap .mer_tx input[type="text"]{
    width: 100% !important;
    float: none !important;
    padding: 2px !important;
    font-size: 0.8em !important;
    border: 1px solid $primary-color !important;
    color: $primary-color !important;
    @include border-radius(3px);
}

.timepicker_wrap .arrow_top{
    display: none;
}

.timepicker_wrap .prev, .timepicker_wrap .next{
    padding: 10px;
    border: none;
}

.timepicker_wrap .next{
    background-position: 50% 105%;
}

.timepicker_wrap .prev{
    background-position: 50% -10%;
}

.timepicker_wrap .prev:hover,.timepicker_wrap .next:hover{
	background-color: transparent;
}

a.reset_time{
    @include whd($width: auto, $display: inline-block);
    float: none;
    margin-top: 18px;
    color: #000;
    text-align: center;
    margin: 20px 84px 0px 85px;
    border: 1px solid $primary-color;
    color: $primary-color;
    padding: 10px 15px;
    font-size: 1.6em;
    @include border-radius(3px);
    @include transition(0.3s);
    outline: none;
}

a.reset_time:hover{
    background: $primary-color;
    color: #ffffff;
}
