@import 'base';

html, body{
    @include whd;
    font-family: $font-regular;
    font-size: 10px;
    color: $primary-color;
    position: relative;
    overflow: auto;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.new-notifications::after{
    content: '';
    @include whd(12px, 12px, block);
    position: absolute;
    background: $notification-color;
    @include border-radius(50%);
}

.notifications-empty{
    @include whd;
    text-align: center;
    color: $icons-color;
    font-family: $font-regular;
    font-size: 1.6em;
    margin-bottom: 20px;
}

.module-box-dropdown{

    .module-box-head::after{
        content: '\002a';
        font-family: $font-icon;
        @include whd(20px, 20px, block);
        position: absolute;
        top: 21px;
        right: 20px;
        @include translateY(-25%);
        color: $icons-color;
        font-size: 1.4em;
        @include transition(0.3s);
    }

}

.class-indicator{
    color: #d20f0f;
}

.form-field{
    @include whd($display: inline-block);
    margin-bottom: 60px;
    position: relative;
}

.field-pass{
    .input-success{
        @include whd($display: inline-block);
        margin-top: 15px;
        font-size: 1.6em;
        font-family: $font-semiBold;
        color: #2ecc71 !important;
        clear: both;
        overflow: hidden;
        padding: 15px;
        background: rgba(46, 204, 113, 0.2) !important;
    }
    label{
        color: #2ecc71 !important;
    }
    input[type="text"]{
        border-color: #2ecc71 !important;
    }
    textarea{
        border-color: #2ecc71 !important;
    }
    select{
        border-color: #2ecc71 !important;
        color: #2ecc71 !important;
        background: url('../img/arrow-down-pass.svg') !important;
    }
    .checkbox-input{
        input[type="checkbox"]{
            border-color: #2ecc71 !important;

            &:checked{
                background: #2ecc71 !important;
            }
        }

        span{
            color: #2ecc71 !important;
        }
    }
    .radio-input{
        input[type="radio"]{
            border-color: #2ecc71 !important;

            &:checked{
                &::before{
                    background: #2ecc71 !important;
                }
            }
        }

        span{
            color: #2ecc71 !important;
        }
    }
}

.field-pass.checkmark-animation{
    .checkbox-input{
        input[type="checkbox"]{
            background: transparent !important;

            &::after{
                border: 1px solid #2ecc71;
            }

            &:checked{
                &::after{
                    border: 2px solid #2ecc71;
                    border-top-color: transparent;
                    border-right-color: transparent;
                }
            }
        }

        span{
            color: #2ecc71 !important;
        }
    }
}

.field-pass.icon{
    &::before{
        background: #2ecc71 !important;
        bottom: 0px !important;
    }
}

.field-pass.fix-icon.icon{
    &::before{
        background: #2ecc71 !important;
        bottom: calc(0px + 67px) !important;
    }
}

.field-error{
    .input-error{
        @include whd($display: inline-block);
        margin-top: 15px;
        font-size: 1.6em;
        font-family: $font-semiBold;
        color: #c0392b !important;
        clear: both;
        overflow: hidden;
        padding: 15px;
        background: rgba(192, 57, 43, 0.2);
    }
    label{
        color: #c0392b !important;
    }
    input[type="text"]{
        border-color: #c0392b !important;
    }
    textarea{
        border-color: #c0392b !important;
    }
    select{
        border-color: #c0392b !important;
        color: #c0392b !important;
        background: url('../img/arrow-down-error.svg') !important;
    }
    .checkbox-input{
        input[type="checkbox"]{
            border-color: #c0392b !important;

            &:checked{
                background: #c0392b !important;
            }
        }

        span{
            color: #c0392b !important;
        }
    }
    .radio-input{
        input[type="radio"]{
            border-color: #c0392b !important;

            &:checked{
                &::after{
                    background: #c0392b !important;
                }
            }
        }

        span{
            color: #c0392b !important;
        }
    }
}

.field-error.checkmark-animation{
    .checkbox-input{
        input[type="checkbox"]{
            background: transparent !important;

            &::after{
                border: 1px solid #c0392b;
            }

            &:checked{
                &::after{
                    border: 2px solid #c0392b;
                    border-top-color: transparent;
                    border-right-color: transparent;
                }
            }
        }

        span{
            color: #c0392b !important;
        }
    }
}

.field-error.icon{
    &::before{
        background: #c0392b !important;
        bottom: calc(0px + 67px) !important;
    }
}

.field-error.fix-icon.icon{
    &::before{
        background: #c0392b !important;
        bottom: 0px !important;
    }
}

pre{
    @include code-block;
    color: #ffffff;

    .tag-name{
        color: #ff3131;
    }

    .tag, .operator{
        color: #f1f1f1;
    }

    .attribute{
        color: #ff873f;
    }

    .quote, .value{
        color: #abff3f;
    }

    .comment{
        color: #737373;
    }

}
