@font-face {
    font-family:'Cairo-ExtraLight';
    src: url('Cairo-ExtraLight.eot');
    src: url('Cairo-ExtraLight.woff2') format('woff2'),
         url('Cairo-ExtraLight.woff') format('woff'),
         url('Cairo-ExtraLight.ttf') format('truetype'),
         url('Cairo-ExtraLight.svg#Cairo') format('svg'),
         url('Cairo-ExtraLight.eot?#iefix') format('embedded-opentype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'Cairo-Light';
    src: url('Cairo-Light.eot');
    src: url('Cairo-Light.woff2') format('woff2'),
         url('Cairo-Light.woff') format('woff'),
         url('Cairo-Light.ttf') format('truetype'),
         url('Cairo-Light.svg#Cairo') format('svg'),
         url('Cairo-Light.eot?#iefix') format('embedded-opentype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'Cairo-Regular';
    src: url('Cairo-Regular.eot');
    src: url('Cairo-Regular.woff2') format('woff2'),
         url('Cairo-Regular.woff') format('woff'),
         url('Cairo-Regular.ttf') format('truetype'),
         url('Cairo-Regular.svg#Cairo') format('svg'),
         url('Cairo-Regular.eot?#iefix') format('embedded-opentype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'Cairo-SemiBold';
    src: url('Cairo-SemiBold.eot');
    src: url('Cairo-SemiBold.woff2') format('woff2'),
         url('Cairo-SemiBold.woff') format('woff'),
         url('Cairo-SemiBold.ttf') format('truetype'),
         url('Cairo-SemiBold.svg#Cairo') format('svg'),
         url('Cairo-SemiBold.eot?#iefix') format('embedded-opentype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'Cairo-Bold';
    src: url('Cairo-Bold.eot');
    src: url('Cairo-Bold.woff2') format('woff2'),
         url('Cairo-Bold.woff') format('woff'),
         url('Cairo-Bold.ttf') format('truetype'),
         url('Cairo-Bold.svg#Cairo') format('svg'),
         url('Cairo-Bold.eot?#iefix') format('embedded-opentype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'Cairo-Black';
    src: url('Cairo-Black.eot');
    src: url('Cairo-Black.woff2') format('woff2'),
         url('Cairo-Black.woff') format('woff'),
         url('Cairo-Black.ttf') format('truetype'),
         url('Cairo-Black.svg#Cairo') format('svg'),
         url('Cairo-Black.eot?#iefix') format('embedded-opentype');
    font-weight:normal;
    font-style:normal;
}
