@import './css/base';

@font-face {
    font-family:'Cairo-ExtraLight';
    src: url('Cairo-ExtraLight.eot');
    src: url('Cairo-ExtraLight.woff2') format('woff2'),
         url('Cairo-ExtraLight.woff') format('woff'),
         url('Cairo-ExtraLight.ttf') format('truetype'),
         url('Cairo-ExtraLight.svg#Cairo') format('svg'),
         url('Cairo-ExtraLight.eot?#iefix') format('embedded-opentype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'Cairo-Light';
    src: url('Cairo-Light.eot');
    src: url('Cairo-Light.woff2') format('woff2'),
         url('Cairo-Light.woff') format('woff'),
         url('Cairo-Light.ttf') format('truetype'),
         url('Cairo-Light.svg#Cairo') format('svg'),
         url('Cairo-Light.eot?#iefix') format('embedded-opentype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'Cairo-Regular';
    src: url('Cairo-Regular.eot');
    src: url('Cairo-Regular.woff2') format('woff2'),
         url('Cairo-Regular.woff') format('woff'),
         url('Cairo-Regular.ttf') format('truetype'),
         url('Cairo-Regular.svg#Cairo') format('svg'),
         url('Cairo-Regular.eot?#iefix') format('embedded-opentype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'Cairo-SemiBold';
    src: url('Cairo-SemiBold.eot');
    src: url('Cairo-SemiBold.woff2') format('woff2'),
         url('Cairo-SemiBold.woff') format('woff'),
         url('Cairo-SemiBold.ttf') format('truetype'),
         url('Cairo-SemiBold.svg#Cairo') format('svg'),
         url('Cairo-SemiBold.eot?#iefix') format('embedded-opentype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'Cairo-Bold';
    src: url('Cairo-Bold.eot');
    src: url('Cairo-Bold.woff2') format('woff2'),
         url('Cairo-Bold.woff') format('woff'),
         url('Cairo-Bold.ttf') format('truetype'),
         url('Cairo-Bold.svg#Cairo') format('svg'),
         url('Cairo-Bold.eot?#iefix') format('embedded-opentype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'Cairo-Black';
    src: url('Cairo-Black.eot');
    src: url('Cairo-Black.woff2') format('woff2'),
         url('Cairo-Black.woff') format('woff'),
         url('Cairo-Black.ttf') format('truetype'),
         url('Cairo-Black.svg#Cairo') format('svg'),
         url('Cairo-Black.eot?#iefix') format('embedded-opentype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Icons';
    src: url('../fonts/Icons.eot');
    src: url('../fonts/Icons.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Icons.woff') format('woff'),
         url('../fonts/Icons.ttf') format('truetype'),
         url('../fonts/Icons.svg#Icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*='icon-']:before{
	display: inline-block;
    font-family: 'Icons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff;
    position: relative;
}

.icon-small:before{
    font-size: 2.3em;
}

.icon-medium:before{
    font-size: 3.5em;
}

.icon-large:before{
    font-size: 5em;
}

.icon-xlarge{
    font-size: 7em;
}

.icon-gearbox:before{content:'\0041';}
.icon-user:before{content:'\0042';}
.icon-logout:before{content:'\0043';}
.icon-email:before{content:'\0044';}
.icon-password-key:before{content:'\0045';}
.icon-puzzle:before{content:'\0046';}
.icon-hamburger-menu:before{content:'\0047';}
.icon-user-avatar:before{content:'\0048';}
.icon-bell-notification:before{content:'\0049';}
.icon-language:before{content:'\004a';}
.icon-arrow-left:before{content:'\004b';}
.icon-arrow-right:before{content:'\004c';}
.icon-arrow-up:before{content:'\004d';}
.icon-arrow-down:before{content:'\004e';}
.icon-checkmark:before{content:'\004f';}
.icon-wrong:before{content:'\0050';}
.icon-delete:before{content:'\0051';}
.icon-andriod:before{content:'\0052';}
.icon-ios:before{content:'\0053';}
.icon-whatsapp:before{content:'\0054';}
.icon-google-plus:before{content:'\0055';}
.icon-linkedin:before{content:'\0056';}
.icon-facebook:before{content:'\0057';}
.icon-youtube:before{content:'\0058';}
.icon-twitter:before{content:'\0059';}
.icon-instagram:before{content:'\005a';}
